@CHARSET "ISO-8859-1";

@import url("https://fonts.googleapis.com/css?family=Raleway");*

	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}

	*, *:after, *:before {
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}
/* Reset CSS
 * --------------------------------------- */
/*body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}*/


body{
  background: #fff;
  font-family: "Roboto Regular", sans-serif;
  font-size: 12px;
}
/*.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}*/
/*h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}*/
/*.intro p{
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}
.section{
	text-align:center;
}*/
/*#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}*/

/*#menu li a{
	text-decoration:none;
	color: #000;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}*/
/*.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#download{
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
	text-decoration:none;
	color:#fff;
}
#download:hover{
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}
#infoMenu{
	height: 20px;
	color: #f2f2f2;
	position:fixed;
	z-index:70;
	bottom:0;
	width:100%;
	text-align:right;
	font-size:0.9em;
	padding:8px 0 8px 0;
}
#infoMenu ul{
	padding: 0 40px;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}
#examplesList{
	display:none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width:638px;
	text-align:left;
}
#examplesList ul{
	padding:0;
}
#examplesList ul li{
	display:block;
	margin: 5px 0;
}
#examplesList ul li a{
	color: #BDBDBD;
	margin:0;
}
#examplesList ul li a:hover{
	color: #f2f2f2;
}
#examplesList .column{
	float: left;
	margin: 0 20px 0 0;
}
#examplesList h3{
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}*/

/*-------Menu--------*/
#menu {
	position:fixed;
	top:0;
	left:0;
	/*height: 80px;*/
	z-index: 70;
	width: 100%;
	padding: 20px 40px 0;
	margin:0;
}
#menu ul.r-menu {
 list-style: none;
 float: right;
 margin-right: 50px;
 /*margin-top: -8px;*/
}
#menu ul.r-menu > li {
 display: inline-block;
 margin-right: 10px;
 font-size: 14px;
 color: #fff;
 vertical-align: middle;
}
#menu ul.r-menu > li .but-menu {
  display: block;
  text-decoration: none;
  border: solid 1px #fff;
  border-radius: 20px;
  padding: 10px 25px;
  font-size: 12px;
  color: #fff;
}
/*#menu ul.back {
 list-style: none;
}
#menu ul.back > li {
 display: inline-block;
 margin-right: 10px;
}
#menu ul.back > li:last-child {
	margin-right: 50px;
	float: right;
}
#menu ul.back > li ul {
	list-style: none;
}
#menu ul.back > li ul > li {
	display: inline-block;
 	margin-right: 15px;
	vertical-align: center;
	font-size: 14px;
	color: #fff;
}
#menu ul.back > li ul > li a {
  display: block;
  text-decoration: none;
  border: solid 1px #fff;
  border-radius: 20px;
  padding: 10px 25px;
  font-size: 12px;
  color: #fff;
}*/



/*---------Search-------*/
.search {
  /*padding-top: 20px;*/
}
@media only screen and (min-width: 900px) {
   /*.search {
    padding-top: 20px;
    position: absolute;
    left: 9em;
    top: 2em;
    font-size: 1em;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: 18.9375em;
  }*/
}
.search input[type=submit] {
  vertical-align: middle;
  width: 1.375em;
  height: 1.375em;
  color: #fff;
  border: none;
  outline: none;
  background: none;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}
.search input[type=submit]:hover {
  opacity: .5;
}
.search input[type=text] {
  width: 14em;
  height: 2.5em;
  padding: 0 .375em;
  border: none;
  border-bottom: 1px solid #999;
  margin-left: .1875em;
  background: #fff;
  -webkit-transition: border-color 100ms ease-in-out;
  transition: border-color 100ms ease-in-out;
}
.search input[type=text]:focus {
  border-bottom-color: inherit;
  outline: none;
}
.search-slide {
  width: 0;
  height: 2.5em;
  overflow: hidden;
}
.search-close {
  width: 1.375em;
  height: 1.375em;
  color: #fff;
  text-align: center;
  cursor: pointer;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}
.search-close:hover {
  opacity: .5;
}



/* Demos Menu
 * --------------------------------------- */
 #demosMenu{
	position:fixed;
	bottom: 10px;
	right:10px;
	z-index: 999;
 }
 #demosMenu ul.sec2-ul1 {
 	list-style: none;
 	/*float: right;*/
 	text-align: right;
 	margin-right: 100px;
 	/*padding-top: 190px;*/
 	z-index: 10px;
 }
 #demosMenu ul.sec2-ul1 > li {
 	display: inline-block;
 	/*margin-right: 10px;*/
 	padding: 5px 23px 5px 0;
 }
 #demosMenu ul.sec2-ul1 > li:last-child {
 	/*margin-right: 0;*/
 	background: url(img/str.png) no-repeat right;
 }
 #demosMenu ul.sec2-ul1 > li p {
 	font-size: 16px;
 	font-style: italic;
 	font-weight: 600;
 	color: #6e6e6e;
 }
 #demosMenu ul.sec2-ul1 > li a {
 	display: block;
 	cursor: pointer;
 	font-size: 16px;
 	font-style: italic;
 	color: #b9babb;
 	text-decoration: none;
 	/*background: 5px 5px url(img/str.png) no-repeat right;*/
 }

 /*#fullpage .container {
   padding: 10px 70px;
   margin-right: 50px;
 }*/

 /*---------Sec1------*/
 #sec1 {
   background: #141719 url(img/ban1.jpg) no-repeat center;
 }
 #sec1 h2 {
   font-size: 64px;
   font-weight: 500;
   text-align: center;
   color: #fff;
 }
 #sec1 h5 {
   margin: 15px 180px 0;
   font-size: 22px;
   font-weight: 500;
   text-align: center;
   color: #bababa;
 }
 #sec1 ul.part0 {
	list-style: none;
 }
 #sec1 ul.part0 > li {
 margin-bottom: 15%;
 }
 #sec1 ul.part0 li:last-child {
	margin-bottom: 0;
 }




 .scroll-down {
   opacity: 1;
   -webkit-transition: all .5s ease-in 3s;
   transition: all .5s ease-in 3s;
 }

 .scroll-down {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -16px;
   display: block;
   width: 47px;
   height: 47px;
   border: 2px solid #FFF;
   background-size: 14px auto;
   border-radius: 50%;
   z-index: 2;
   -webkit-animation: bounce 2s infinite 2s;
   animation: bounce 2s infinite 2s;
   -webkit-transition: all .2s ease-in;
   transition: all .2s ease-in;
 }

 .scroll-down:before {
     position: absolute;
     top: calc(50% - 10px);
     left: calc(50% - 7px);
     transform: rotate(-45deg);
     display: block;
     width: 12px;
     height: 12px;
     content: "";
     border: 3px solid white;
     border-width: 0px 0 2px 2px;
 }

 @keyframes bounce {
   0%,
   100%,
   20%,
   50%,
   80% {
     -webkit-transform: translateY(0);
     -ms-transform: translateY(0);
     transform: translateY(0);
   }
   40% {
     -webkit-transform: translateY(-10px);
     -ms-transform: translateY(-10px);
     transform: translateY(-10px);
   }
   60% {
     -webkit-transform: translateY(-5px);
     -ms-transform: translateY(-5px);
     transform: translateY(-5px);
   }
 }





 /*---------Sec2------*/
 #sec2 {
 	background: #fff;
 }
 #sec2 h2 {
   font-size: 64px;
 	line-height: 64px;
   font-weight: 500;
   text-align: center;
   color: #434343;
 	z-index: 5px;
 }
 #sec2 h5 {
   margin: 35px 180px 0;
   font-size: 22px;
 	line-height: 22px;
   font-weight: 500;
   text-align: center;
   color: #656565;
 	z-index: 7px;
 }
 #sec2 ul.part1 {
	 list-style: none;
 }
 #sec2 ul.part1 > li {
	margin-bottom: 15%;
 }
 #sec2 ul.part1 li:last-child {
	 margin-bottom: 0;
 }
  #sec2 ul > li ul.sec2-ul1 {
		padding-right: 50px;
		float: right;
		list-style: none;
		/*text-align: right;*/
	}
#sec2 ul > li ul.sec2-ul1 > li {
	display: inline-block;
	padding: 5px 23px 5px 0;
}
#sec2 ul > li ul.sec2-ul1 > li:last-child {
 /*margin-right: 0;*/
 background: url(img/str.png) no-repeat right;
 cursor: pointer;
}
 #sec2 ul > li ul.sec2-ul1 > li p {
	 font-size: 16px;
	 font-style: italic;
	 font-weight: 600;
	 color: #6e6e6e;
 }
 #sec2 ul > li ul.sec2-ul1 > li a {
	 display: block;
	 cursor: pointer;
	 font-size: 16px;
	 font-style: italic;
	 color: #b9babb;
	 text-decoration: none;
	 /*background: 5px 5px url(img/str.png) no-repeat right;*/
 }




 /*---------Sec3------*/
 #sec3 {
 	background: #2572c0;
 }
 /*#sec3 .container1 {
	 padding: 10px 40px;
	 margin-right: 40px;
 	background: url(img/kharkiv.png) no-repeat right;
 }*/
 #sec3 h2 {
   font-size: 64px;
   line-height: 64px;
   font-weight: 500;
   text-align: left;
   color: #fff;
 }
 #sec3 h4 {
 	font-size: 200px;
  line-height: 200px;
   font-weight: 900;
   text-align: left;
   font-family: "Raleway", sans-serif;
   color: #012d49;
 }
 #sec3 h5 {
 	margin-top: 20px;
 	font-size: 14px;
  line-height: 14px;
   font-weight: 600;
   text-align: left;
   color: #000;
 	/*width: 400px;*/
 }

 #sec3 ul.part2 {
	list-style: none;
 }
 #sec3 ul.part2 > li {
 margin-bottom: 3%;
 }
 #sec3 ul.part2 li:last-child {
	margin-bottom: 0;
 }
	#sec3 ul > li ul.sec2-ul2 {
		/*padding-right: 50px;*/
 	 float: right;
 	 list-style: none;
	 /*text-align: right;*/
 }
#sec3 ul > li ul.sec2-ul2 > li {
 display: inline-block;
 padding: 5px 23px 5px 0;
}
#sec3 ul > li ul.sec2-ul2 > li:last-child {
 /*margin-right: 0;*/
 background: url(img/str.png) no-repeat right;
 cursor: pointer;
}
 #sec3 ul > li ul.sec2-ul2 > li p {
	font-size: 16px;
	font-style: italic;
	font-weight: 500;
	color: #fff;
 }
 #sec3 ul > li ul.sec2-ul2 > li a {
	display: block;
	cursor: pointer;
	font-size: 16px;
	font-style: italic;
	color: #b9babb;
	text-decoration: none;
	/*background: 5px 5px url(img/str.png) no-repeat right;*/
 }


 /*---------Sec4------*/
 #sec4 {
   background: #141719 url(img/ban2.jpg) no-repeat center;
 }
 #sec4 .container1 {
	padding: 10px 0 10px 40px;
 }
 #sec4.is-visible {
	 box-shadow: inset 0 0 900em 25em #000;
	 background: #141719 url(img/ban2.jpg) no-repeat center;
	 /*background: #141719 url(img/ban2.jpg) no-repeat center;*/
 }
 #sec4 h2 {
   font-size: 64px;
   font-weight: 500;
   text-align: left;
   color: #fff;
 }
 #sec4 h4 {
 	margin-top: 15px;
   font-size: 18px;
   font-weight: 500;
   text-align: left;
   color: #fff;
 }

 #sec4 ul.part3 {
	list-style: none;
 }
 #sec4 ul.part3 > li {
 margin-bottom: 8%;
 }
 #sec4 ul.part3 li:last-child {
	margin-bottom: 0;
 }
	#sec4 ul > li ul.sec2-ul3 {
	padding-right: 50px;
 	 float: right;
 	 list-style: none;
	 /*text-align: right;*/
 }

 #sec4 ul > li ul.but {
  list-style: none;
	text-align: center;
	vertical-align: top;
 }
 #sec4 ul > li ul.but > li {
  /*display: inline-block;*/
	margin-bottom: 25px;
	text-align: center;
 }
 #sec4 ul > li ul.but > li:last-child {
	/*display: inline-block;*/
 margin-bottom: 0;
 }
 #sec4 ul > li ul.but > li p {
	font-size: 16px;
	font-weight: 500;
	color: #fff;
 }
 #sec4 ul > li ul.but > li #button {
	display: block;
	margin: 0 auto;
	background: url(img/List_icons.png) no-repeat center;
	text-align: center;
	width: 80px;
	height: 80px;
 }

#sec4 ul > li ul.sec2-ul3 > li {
 display: inline-block;
 padding: 5px 23px 5px 0;
}
#sec4 ul > li ul.sec2-ul3 > li:last-child {
 /*margin-right: 0;*/
 background: url(img/str.png) no-repeat right;
 cursor: pointer;
}
 #sec4 ul > li ul.sec2-ul3 > li p {
	font-size: 16px;
	font-style: italic;
	font-weight: 500;
	color: #fff;
 }
 #sec4 ul > li ul.sec2-ul3 > li a {
	display: block;
	cursor: pointer;
	font-size: 16px;
	font-style: italic;
	color: #b9babb;
	text-decoration: none;
	/*background: 5px 5px url(img/str.png) no-repeat right;*/
 }
  /*#fullpage #section3 #sec-left {
		position: absolute;
		display: none;
		overflow: hidden;
		left: 0;
		top: 0px;
		padding: 80px 20px 50px 100px;
		width: 40%;
		height: 80%;
		overflow-y: scroll;
		background: #fff;
		z-index: 5;
}*/


#main-nav {
	position: absolute;
	top: 0;
	left: -100%;
	height: 100%;
	width: 50%;
	background: #fff;
	-webkit-transition: left 0.7s;
	-moz-transition: left 0.7s;
	transition: left 0.7s;
	/*overflow-y: auto;*/
	-webkit-overflow-scrolling: touch;
	z-index: 7;
	padding: 60px 20px 50px 100px;
	overflow-y: scroll;
}
#main-nav.speed-in {
  left: 0;
}
#main-nav h3 {
	font-size: 42px;
	color: #616161;
	text-align: left;
}
#main-nav p {
	margin: 20px 0;
	font-size: 16px;
	color: #a7a4a4;
	text-align: left;
}
#main-nav .img {
	background: url(img/sec.jpg) no-repeat center;
	width: 400px;
	height: 200px;
}
/*#main-nav ul a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid #e0e6ef;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #474746;
}
#main-nav ul a:hover {
  color: #959595;
}
.no-js #main-nav {
  position: fixed;
}*/


/*#fullpage #section3 #sec-left .speed-in {
  right: 0;
}*/
/*#fullpage #section3 #sec-left h3 {
	font-size: 42px;
	color: #616161;
	text-align: left;
}
#fullpage #section3 #sec-left p {
	margin: 20px 0;
	font-size: 16px;
	color: #a7a4a4;
	text-align: left;
}
#fullpage #section3 #sec-left .img {
	background: url(img/sec.jpg) no-repeat center;
	width: 400px;
	height: 200px;
}*/



 /*---------Sec5------*/
 #sec5 {
   background: #141719 url(img/ban3.jpg) no-repeat center;
 }
 /*#fullpage #section4 .container {
 padding: 10px 40px;
 }*/
 #sec5 h2 {
   font-size: 64px;
   font-weight: 500;
   text-align: center;
   color: #fff;
 }
 #sec5 h4 {
   margin-top: 15px;
   font-size: 22px;
   font-weight: 500;
   text-align: center;
   color: #b6b6b6;
 }

 #sec5 ul.part4 {
	list-style: none;
 }
 #sec5 ul.part4 > li {
 margin-bottom: 15%;
 }
 #sec5 ul.part4 li:last-child {
	margin-bottom: 0;
 }
	#sec5 ul > li ul.sec2-ul4 {
	 float: right;
	 list-style: none;
	 padding-right: 50px;
	 /*text-align: right;*/
 }
#sec5 ul > li ul.sec2-ul4 > li {
 display: inline-block;
 padding: 5px 23px 5px 0;
}
#sec5 ul > li ul.sec2-ul4 > li:last-child {
 /*margin-right: 0;*/
 background: url(img/str.png) no-repeat right;
 cursor: pointer;
}
 #sec5 ul > li ul.sec2-ul4 > li p {
	font-size: 16px;
	font-style: italic;
	font-weight: 500;
	color: #fff;
 }
 #sec5 ul > li ul.sec2-ul4 > li a {
	display: block;
	cursor: pointer;
	font-size: 16px;
	font-style: italic;
	color: #b9babb;
	text-decoration: none;
	/*background: 5px 5px url(img/str.png) no-repeat right;*/
 }


 /*---------Sec6------*/
 #sec6 {
   background: #141719 url(img/ban4.jpg) no-repeat center;
 }
 /*#fullpage #section5 .container {
 padding: 10px 40px;
 }*/
 #sec6 h2 {
   font-size: 64px;
   font-weight: 500;
   text-align: center;
   color: #fff;
 }
 #sec6 h4 {
   margin-top: 15px;
   font-size: 22px;
   font-weight: 500;
   text-align: center;
   color: #fff;
 }

 #sec6 ul.part5 {
	list-style: none;
 }
 #sec6 ul.part5 > li {
 margin-bottom: 15.5%;
 }
 #sec6ul.part5 li:last-child {
	margin-bottom: 0;
 }
	#sec6 ul > li ul.sec2-ul5 {
	 float: right;
	 list-style: none;
	 padding-right: 50px;
	 /*text-align: right;*/
 }
#sec6 ul > li ul.sec2-ul5 > li {
 display: inline-block;
 padding: 5px 23px 5px 0;
}
#sec6 ul > li ul.sec2-ul5 > li:last-child {
 /*margin-right: 0;*/
 background: url(img/str.png) no-repeat right;
 cursor: pointer;
}
 #sec6 ul > li ul.sec2-ul5 > li p {
	font-size: 16px;
	font-style: italic;
	font-weight: 500;
	color: #fff;
 }
 #sec6 ul > li ul.sec2-ul5 > li a {
	display: block;
	cursor: pointer;
	font-size: 16px;
	font-style: italic;
	color: #b9babb;
	text-decoration: none;
	/*background: 5px 5px url(img/str.png) no-repeat right;*/
 }


#linkb-part {
 	position: absolute;
	margin-top: -35px;
	padding: 15px 60px;
	display: none;
	width: 100%;
	/*height: 50px;*/
  /*margin: 120px auto;*/
  z-index: 10;
 	background: #fff;
	text-align: left;
	transition-duration: 0.9s;
 	/*-webkit-transition: left 0.7s;
 	-moz-transition: left 0.7s;
 	transition: left 0.7s;
 	-webkit-overflow-scrolling: touch;
 	z-index: 7;
 	padding: 60px 20px 50px 100px;
 	overflow-y: scroll;*/
 }
#linkb-part.speed-in {
   left: 0;
   display:block;
   transition-duration: 0.9s;
 }
  #fullpage #section5 #linkb-part ul {
		list-style: none;
	}
	#fullpage #section5 #linkb-part ul > li {
		display: inline-block;
		vertical-align: top;
	}
 #close a {
	 display: inline-block;
	 overflow: hidden;
	 /*white-space: nowrap;*/
	 text-indent: 100%;
   width: 40px;
   height: 100%;
   background: transparent url(img/remove1.png) no-repeat center center;
 }
 #fullpage #section5 #linkb-part p {
	font-size: 14px;
	color: #000;
	line-height: 17px;
 }
 #fullpage #section5 #linkb-part span {
	font-weight: 600;
 }




 /*---------Sec6------*/
 #fullpage #section6 {
 	background: #141719 url(img/ban5.jpg) no-repeat center;
 }
 #fullpage #section6 .container1 {
 padding: 10px 0 10px 40px;
 }
 #fullpage #section6 h2 {
 	font-size: 64px;
 	font-weight: 500;
 	text-align: left;
 	color: #fff;
 }
 #fullpage #section6 h4 {
 	margin-top: 15px;
 	font-size: 22px;
	line-height: 26px;
 	font-weight: 300;
 	text-align: left;
 	color: #fff;
 }

 #fullpage #section6 ul.part6 {
  list-style: none;
 }
 #fullpage #section6 ul.part6 > li {
 margin-bottom: 6%;
 }
 #fullpage #section6 ul.part6 li:last-child {
  margin-bottom: 0;
 }
  #fullpage #section6 ul > li ul.sec2-ul6 {
		padding-right: 50px;
		float: right;
		list-style: none;
 	/*text-align: right;*/
 }
 #fullpage #section6 ul > li ul.sec2-ul6 > li {
 display: inline-block;
 padding: 5px 23px 5px 0;
 }
 #fullpage #section6 ul > li ul.sec2-ul6 > li:last-child {
 /*margin-right: 0;*/
 background: url(img/str.png) no-repeat right;
 cursor: pointer;
 }
 #fullpage #section6 ul > li ul.sec2-ul6 > li p {
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  color: #fff;
 }
 #fullpage #section6 ul > li ul.sec2-ul6 > li a {
  display: block;
  cursor: pointer;
  font-size: 16px;
  font-style: italic;
  color: #b9babb;
  text-decoration: none;
  /*background: 5px 5px url(img/str.png) no-repeat right;*/
 }


 #fullpage #section6 ul > li ul.but {
  list-style: none;
	text-align: center;
	vertical-align: top;
 }
 #fullpage #section6 ul > li ul.but > li {
  /*display: inline-block;*/
	margin-bottom: 25px;
	text-align: center;
 }
 #fullpage #section6 ul > li ul.but > li:last-child {
	/*display: inline-block;*/
 margin-bottom: 0;
 }
 #fullpage #section6 ul > li ul.but > li p {
	font-size: 16px;
	font-weight: 500;
	color: #fff;
 }
 #fullpage #section6 ul > li ul.but > li #vid {
	display: block;
	margin: 0 auto;
	background: url(img/yt_icon_mono_dark.png) no-repeat center;
	text-align: center;
	width: 80px;
	height: 80px;
 }


#video {
  position: absolute;
 	top: 0;
 	left: 0;
   /*margin-bottom: 110px;
   padding-bottom: 75%;*/
 	padding: 20px 0;
 	display: none;
 	width: 100%;
 	height: 100%;
 	/*z-index: 10;*/
 	background: #000;
 	transition-duration: 0.9s;
}
#video.speed-in {
  left: 0;
  display:block;
  transition-duration: 0.9s;
}
 #video iframe{
 	/*position: absolute;*/
 	width: 100%;
 	height: 100%;
 }
 /*#fullpage #section6 #video ul {
  		list-style: none;
  	}
  	#fullpage #section6 #video ul > li {
  		display: inline-block;
  		vertical-align: top;
  	}*/
 	/*#close-v {
 	  position: relative;
 	  left: 0;
 		z-index: 15;
 		margin-right: 20px;
 	  text-align: right;
 	}*/

 	#close-v {
 	  position: relative;
 	  left: 0;
		margin-top: 40px;
 	  margin-right: 20px;
 	  text-align: right;
 		z-index: 15px;
 	}
 	/*#close-v a {
 	  width: 50px;
 	  height: 50px;
 		border-radius: 100px;
 	  background: transparent url(img/remove1.png) no-repeat center center;
 		background-color: #fff;
 }*/
 	#close-v a {
		/*width: 50px;
		height: 100%;
		border-radius: 100px;
		background: transparent url(img/remove1.png) no-repeat center center;
		background-color: #fff;*/
 		display: inline-block;
 		overflow: hidden;
 		text-indent: 100%;
 		width: 40px;
 		height: 40px;
 		border-radius: 100px;
 		background: transparent url(img/remove1.png) no-repeat center center;
 		background-color: #fff;
 		/*cursor: pointer;*/
 	}



 /*---------Sec8------*/
 #fullpage #section7 {
  background: #141719 url(img/ban6.jpg) no-repeat center;
 }
 #fullpage #section7 .container1 {
 	/*padding: 10px 40px;*/
 }
 #fullpage #section7 h2 {
	 padding: 10px 40px;
  font-size: 64px;
  font-weight: 500;
  text-align: left;
  color: #fff;
 }
 #fullpage #section7 h4 {
	padding: 10px 40px;
  margin-top: 15px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 300;
  text-align: left;
  color: #fff;
 }

 #fullpage #section7 ul.part7 {
	/*padding: 10px 40px;*/
  list-style: none;
 }
 #fullpage #section7 ul.part7 > li {
 margin-bottom: 4%;
 }
 #fullpage #section7 ul.part7 li:last-child {
  margin-bottom: 0;
 }
  #fullpage #section7 ul > li ul.sec2-ul7 {
		padding-right: 50px;
		float: right;
		list-style: none;
  /*text-align: right;*/
 }
 #fullpage #section7 ul > li ul.sec2-ul7 > li {
 display: inline-block;
 padding: 5px 23px 5px 0;
 }
 #fullpage #section7 ul > li ul.sec2-ul7 > li:last-child {
 /*margin-right: 0;*/
 background: url(img/str.png) no-repeat right;
 cursor: pointer;
 }
 #fullpage #section7 ul > li ul.sec2-ul7 > li p {
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  color: #fff;
 }
 #fullpage #section7 ul > li ul.sec2-ul7 > li a {
  display: block;
  cursor: pointer;
  font-size: 16px;
  font-style: italic;
  color: #b9babb;
  text-decoration: none;
  /*background: 5px 5px url(img/str.png) no-repeat right;*/
 }


 #fullpage #section7 ul > li ul.but {
  list-style: none;
  text-align: center;
  vertical-align: top;
 }
 #fullpage #section7 ul > li ul.but > li {
  /*display: inline-block;*/
  margin-bottom: 25px;
  text-align: center;
 }
 #fullpage #section7 ul > li ul.but > li:last-child {
  /*display: inline-block;*/
 margin-bottom: 0;
 }
 #fullpage #section7 ul > li ul.but > li p {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
 }
 #fullpage #section7 ul > li ul.but > li #gal {
  display: block;
  margin: 0 auto;
  background: url(img/Vector-Smart-Object2.png) no-repeat center;
  text-align: center;
  width: 80px;
  height: 80px;
 }

 #carusel {
	 position: absolute;
	 display: none;
   top: 0;
  	left: 0;
  	padding: 20px 0;
  	width: 100%;
  	height: 100%;
  	background: #000;
  	transition-duration: 0.9s;
 }
#carusel.speed-in {
   left: 0;
   display:block;
   transition-duration: 0.9s;
 }
#close-g {
	 position: relative;
   left: 0;
 	 margin-top: 40px;
   margin-right: 20px;
   text-align: right;
	 vertical-align: top;
   z-index: 20px;
}
#close-g a {
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background: transparent url(img/remove1.png) no-repeat center center;
  background-color: #fff;
}

 /*.carusel {
   position: relative;
   overflow: hidden;
   height: 300px;
 }*/
/* #carusel {
	 overflow: hidden;
   	width: 100%;
   	height: 100%;
  }*/
 .carusel img {
   position: absolute;
   /*left: 100%;
   top: 100%;*/
 }
 .prev_arrow, .next_arrow {
   position: absolute;
   background: #000;
   border-radius: 50%;
   cursor: pointer;
   width: 50px;
   height: 50px;
   opacity: 0.65;
   top: 50%;
   transition: opacity 0.25s;
   transform: translateY(-50%);
 }
 .prev_arrow::before, .next_arrow::before {
   content: open-quote;
   position: absolute;
   display: block;
   border-bottom: 4px solid white;
   border-left: 4px solid white;
   width: 15px;
   height: 15px;
   left: 50%;
   top: 50%;
 }
 .prev_arrow::before {
   transform: translateY(-50%) translateX(-30%) rotate(45deg);
 }
 .next_arrow::before {
   transform: translateY(-50%) translateX(-60%) rotate(225deg);
 }
 .prev_arrow:hover, .next_arrow:hover {
     opacity: 0.45;
 }
 .prev_arrow {
   left: 10px;
 }
 .next_arrow {
   right: 10px;
 }

 .wrapper, .controls-wrapper {
   position: absolute;
   bottom: 0;
   top: 0;
   left: 0;
   right: 0;

 }

 .wrapper {
   background-position: 50% 50%;
   background-size: cover;
   opacity: 1;
   transition: opacity 0.25s;
 }

 .wrapper.fade-out {
   opacity: 0;
 }



 /*---------Sec9------*/
 #fullpage #section8 {
  background: #2572c0;
 }
 #fullpage #section8 h2 {
 	font-size: 64px;
  line-height: 64px;
 	font-weight: 500;
 	text-align: center;
 	color: #fff;
  z-index: 5px;
 }
 #fullpage #section8 h5 {
 	margin: 35px 180px 0;
 	font-size: 22px;
  line-height: 22px;
 	font-weight: 500;
 	text-align: center;
 	color: #656565;
  z-index: 7px;
 }
 #fullpage #section8 ul.part8 {
 	list-style: none;
 }
 #fullpage #section8 ul.part8 > li {
  margin-bottom: 8.5%;
 }
 #fullpage #section8 ul.part8 li:last-child {
 	margin-bottom: 0;
 }

 #fullpage #section8 ul > li ul.list {
	list-style: none;
	text-align: center;
 }
 #fullpage #section8 ul > li ul.list > li {
	 display: inline-block;
	 text-align: center;
	 margin-right: 80px;
 }
#fullpage #section8 ul > li ul.list > li:last-child {
	margin-right: 0;
}
#fullpage #section8 ul > li ul.list > li .rect1 {
	margin: 0 auto 20px;
	width: 36px;
	height: 36px;
	background: url(img/recrt1.png) no-repeat center center;
	text-align: center;
}
#fullpage #section8 ul > li ul.list > li .rect2 {
	margin: 0 auto 20px;
	width: 36px;
	height: 36px;
	background: url(img/recrt2.png) no-repeat center center;
	text-align: center;
}
#fullpage #section8 ul > li ul.list > li .rect3 {
	margin: 0 auto 20px;
	width: 36px;
	height: 36px;
	background: url(img/recrt3.png) no-repeat center center;
	text-align: center;
}
#fullpage #section8 ul > li ul.list > li .rect4 {
	margin: 0 auto 20px;
	width: 36px;
	height: 36px;
	background: url(img/recrt4.png) no-repeat center center;
	text-align: center;
}
 #fullpage #section8 ul > li ul.list > li h3 {
	 margin-bottom: 20px;
	font-size: 48px;
	font-weight: 600;
	color: #012d49;
 }
 #fullpage #section8 ul > li ul.list > li p {
 font-size: 14px;
 color: #fff;
 }

  #fullpage #section8 ul > li ul.sec2-ul8 {
		padding-right: 50px;
		float: right;
		list-style: none;
 	 /*text-align: right;*/
  }
 #fullpage #section8 ul > li ul.sec2-ul8 > li {
  display: inline-block;
  padding: 5px 23px 5px 0;
 }
 #fullpage #section8 ul > li ul.sec2-ul8 > li:last-child {
 /*margin-right: 0;*/
 background: url(img/str.png) no-repeat right;
 cursor: pointer;
 }
 #fullpage #section8 ul > li ul.sec2-ul8 > li p {
 	font-size: 16px;
 	font-style: italic;
 	font-weight: 600;
 	color: #fff;
 }
 #fullpage #section8 ul > li ul.sec2-ul8 > li a {
 	display: block;
 	cursor: pointer;
 	font-size: 16px;
 	font-style: italic;
 	color: #b9babb;
 	text-decoration: none;
 	/*background: 5px 5px url(img/str.png) no-repeat right;*/
 }


 /*---------Sec10------*/
 #fullpage #section9 {
	background: #141719 url(img/ban7.jpg) no-repeat center;
 }
 #fullpage #section9 .container1 {
	/*padding: 10px 40px;*/
 }
 #fullpage #section9 h2 {
	 padding: 10px 40px;
	font-size: 64px;
	font-weight: 500;
	text-align: left;
	color: #fff;
 }
 #fullpage #section9 h4 {
	padding: 10px 40px;
	margin-top: 15px;
	font-size: 22px;
	line-height: 26px;
	font-weight: 300;
	text-align: left;
	color: #fff;
 }

 #fullpage #section9 ul.part9 {
	/*padding: 10px 40px;*/
	list-style: none;
 }
 #fullpage #section9 ul.part9 > li {
 margin-bottom: 5%;
 }
 #fullpage #section9 ul.part9 li:last-child {
	margin-bottom: 0;
 }
	#fullpage #section9 ul > li ul.sec2-ul9 {
		padding-right: 50px;
		float: right;
		list-style: none;
	/*text-align: right;*/
 }
 #fullpage #section9 ul > li ul.sec2-ul9 > li {
 display: inline-block;
 padding: 5px 23px 5px 0;
 }
 #fullpage #section9 ul > li ul.sec2-ul9 > li:last-child {
 /*margin-right: 0;*/
 background: url(img/str.png) no-repeat right;
 cursor: pointer;
 }
 #fullpage #section9 ul > li ul.sec2-ul9 > li p {
	font-size: 16px;
	font-style: italic;
	font-weight: 500;
	color: #fff;
 }
 #fullpage #section9 ul > li ul.sec2-ul9 > li a {
	display: block;
	cursor: pointer;
	font-size: 16px;
	font-style: italic;
	color: #b9babb;
	text-decoration: none;
	/*background: 5px 5px url(img/str.png) no-repeat right;*/
 }


 #fullpage #section9 ul > li ul.but {
	list-style: none;
	text-align: center;
	vertical-align: top;
 }
 #fullpage #section9 ul > li ul.but > li {
	/*display: inline-block;*/
	margin-bottom: 25px;
	text-align: center;
 }
 #fullpage #section9 ul > li ul.but > li:last-child {
	/*display: inline-block;*/
 margin-bottom: 0;
 }
 #fullpage #section9 ul > li ul.but > li p {
	font-size: 16px;
	font-weight: 500;
	color: #fff;
 }
 #fullpage #section9 ul > li ul.but > li #gal1 {
	display: block;
	margin: 0 auto;
	background: url(img/Vector-Smart-Object2.png) no-repeat center;
	text-align: center;
	width: 80px;
	height: 80px;
 }

 #manege {
	 position: absolute;
	 display: none;
	 top: 0;
		left: 0;
		padding: 20px 0;
		width: 100%;
		height: 100%;
		background: #000;
		transition-duration: 0.9s;
 }
#manege.speed-in {
	 left: 0;
	 display:block;
	 transition-duration: 0.9s;
 }
#close-p {
	 position: relative;
	 left: 0;
	 margin-top: 40px;
	 margin-right: 20px;
	 text-align: right;
	 vertical-align: top;
	 z-index: 20px;
}
#close-p a {
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	background: transparent url(img/remove1.png) no-repeat center center;
	background-color: #fff;
}

 /*.carusel {
	 position: relative;
	 overflow: hidden;
	 height: 300px;
 }*/
/* #carusel {
	 overflow: hidden;
		width: 100%;
		height: 100%;
	}*/
 .manege img {
	 position: absolute;
	 /*left: 100%;
	 top: 100%;*/
 }
 .prev_arrow1, .next_arrow1 {
	 position: absolute;
	 background: #000;
	 border-radius: 50%;
	 cursor: pointer;
	 width: 50px;
	 height: 50px;
	 opacity: 0.65;
	 top: 50%;
	 transition: opacity 0.25s;
	 transform: translateY(-50%);
 }
 .prev_arrow1::before, .next_arrow1::before {
	 content: open-quote;
	 position: absolute;
	 display: block;
	 border-bottom: 4px solid white;
	 border-left: 4px solid white;
	 width: 15px;
	 height: 15px;
	 left: 50%;
	 top: 50%;
 }
 .prev_arrow1::before {
	 transform: translateY(-50%) translateX(-30%) rotate(45deg);
 }
 .next_arrow1::before {
	 transform: translateY(-50%) translateX(-60%) rotate(225deg);
 }
 .prev_arrow1:hover, .next_arrow1:hover {
		 opacity: 0.45;
 }
 .prev_arrow1 {
	 left: 10px;
 }
 .next_arrow1 {
	 right: 10px;
 }

 .wrapper1, .controls-wrapper1 {
	 position: absolute;
	 bottom: 0;
	 top: 0;
	 left: 0;
	 right: 0;

 }
 .wrapper1 {
	 background-position: 50% 50%;
	 background-size: cover;
	 opacity: 1;
	 transition: opacity 0.25s;
 }
 .wrapper1.pade-out {
	 opacity: 0;
 }



 /*---------Sec11------*/
 #fullpage #section10 {
 	background: #141719 url(img/ban8.jpg) no-repeat center;
 }
 /*#fullpage #section10 .container {
  padding: 10px 40px;
 }*/
 #fullpage #section10.is-visible {
 	box-shadow: inset 0 0 900em 25em #000;
 	background: #141719 url(img/ban8.jpg) no-repeat center;
 	/*background: #141719 url(img/ban2.jpg) no-repeat center;*/
 }
 #fullpage #section10 h2 {
 	font-size: 64px;
 	font-weight: 500;
 	text-align: center;
 	color: #fff;
 }
 #fullpage #section10 h4 {
  margin-top: 15px;
 	font-size: 18px;
	line-height: 19px;
 	font-weight: 500;
 	text-align: center;
 	color: #fff;
 }

 #fullpage #section10 ul.part10 {
  list-style: none;
 }
 #fullpage #section10 ul.part10 > li {
 margin-bottom: 9%;
 }
 #fullpage #section10 ul.part10 li:last-child {
  margin-bottom: 0;
 }

 #fullpage #section10 ul > li ul.but {
  list-style: none;
  text-align: center;
  vertical-align: top;
 }
 #fullpage #section10 ul > li ul.but > li {
  /*display: inline-block;*/
  margin-bottom: 25px;
  text-align: center;
 }
 #fullpage #section10 ul > li ul.but > li:last-child {
  /*display: inline-block;*/
 margin-bottom: 0;
 }
 #fullpage #section10 ul > li ul.but > li p {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
 }
 #fullpage #section10 ul > li ul.but > li #but-vid {
  display: block;
  margin: 0 auto;
  background: url(img/List_icons.png) no-repeat center;
  text-align: center;
  width: 80px;
  height: 80px;
 }
 #fullpage #section10 ul > li ul.sec2-ul10 {
	 padding-right: 50px;
	 float: right;
	 list-style: none;
 /*text-align: right;*/
}
 #fullpage #section10 ul > li ul.sec2-ul10 > li {
 display: inline-block;
 padding: 5px 23px 5px 0;
 }
 #fullpage #section10 ul > li ul.sec2-ul10 > li:last-child {
 /*margin-right: 0;*/
 background: url(img/str.png) no-repeat right;
 cursor: pointer;
 }
 #fullpage #section10 ul > li ul.sec2-ul10 > li p {
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  color: #fff;
 }
 #fullpage #section10 ul > li ul.sec2-ul10 > li a {
  display: block;
  cursor: pointer;
  font-size: 16px;
  font-style: italic;
  color: #b9babb;
  text-decoration: none;
  /*background: 5px 5px url(img/str.png) no-repeat right;*/
 }


 #left-nav{
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 50%;
  background: #fff;
  -webkit-transition: left 0.7s;
  -moz-transition: left 0.7s;
  transition: left 0.7s;
  /*overflow-y: auto;*/
  -webkit-overflow-scrolling: touch;
  z-index: 7;
  padding: 60px 20px 50px 100px;
  overflow-y: scroll;
 }
 #left-nav.speed-in {
  left: 0;
 }
 #left-nav h3 {
  font-size: 42px;
  color: #616161;
  text-align: left;
 }
 #left-nav p {
  margin: 20px 0;
  font-size: 16px;
  color: #a7a4a4;
  text-align: left;
 }
 #left-nav iframe {
  width: 400px;
  height: 200px;
 }

/*-------Section12--------*/
 #fullpage #section11 {
 	background: #141719 url(img/ban10.jpg) no-repeat center;
 }
 /*#fullpage #section5 .container {
 padding: 10px 40px;
 }*/
 #fullpage #section11 h2 {
 	font-size: 64px;
 	font-weight: 500;
 	text-align: center;
 	color: #fff;
 }
 #fullpage #section11 h4 {
 	margin-top: 15px;
 	font-size: 22px;
 	font-weight: 500;
 	text-align: center;
 	color: #fff;
 }

 #fullpage #section11 ul.part5 {
  list-style: none;
 }
 #fullpage #section11 ul.part5 > li {
 margin-bottom: 15.5%;
 }
 #fullpage #section11 ul.part5 li:last-child {
  margin-bottom: 0;
 }
  #fullpage #section11 ul > li ul.sec2-ul5 {
 	float: right;
 	list-style: none;
 	padding-right: 50px;
 	/*text-align: right;*/
 }
 #fullpage #section5 ul > li ul.sec2-ul5 > li {
 display: inline-block;
 padding: 5px 23px 5px 0;
 }
 #fullpage #section5 ul > li ul.sec2-ul5 > li:last-child {
 /*margin-right: 0;*/
 background: url(img/str.png) no-repeat right;
 cursor: pointer;
 }
 #fullpage #section5 ul > li ul.sec2-ul5 > li p {
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  color: #fff;
 }
 #fullpage #section5 ul > li ul.sec2-ul5 > li a {
  display: block;
  cursor: pointer;
  font-size: 16px;
  font-style: italic;
  color: #b9babb;
  text-decoration: none;
  /*background: 5px 5px url(img/str.png) no-repeat right;*/
 }


 /*---------Sec13------*/
 #fullpage #section12 {
  background: #2572c0;
 }
 #fullpage #section12 h2 {
  font-size: 64px;
  line-height: 64px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  z-index: 5px;
 }
 #fullpage #section12 h5 {
  margin: 35px 180px 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  color: #656565;
  z-index: 7px;
 }
 #fullpage #section12 ul.part12 {
  list-style: none;
 }
 #fullpage #section12 ul.part12 > li {
  margin-bottom: 8.5%;
 }
 #fullpage #section12 ul.part12 > li .partner {
	 margin: 0 auto;
	background: url(img/partner.jpg) no-repeat center;
	width: 726px;
	height: 218px;
 }
 #fullpage #section12 ul.part12 li:last-child {
  margin-bottom: 0;
 }

  #fullpage #section12 ul > li ul.sec2-ul12 {
 	 padding-right: 50px;
 	 float: right;
 	 list-style: none;
 	/*text-align: right;*/
  }
 #fullpage #section12 ul > li ul.sec2-ul12 > li {
  display: inline-block;
  padding: 5px 23px 5px 0;
 }
 #fullpage #section12 ul > li ul.sec2-ul12 > li:last-child {
 /*margin-right: 0;*/
 background: url(img/str.png) no-repeat right;
 cursor: pointer;
 }
 #fullpage #section12 ul > li ul.sec2-ul12 > li p {
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
  color: #fff;
 }
 #fullpage #section12 ul > li ul.sec2-ul12 > li a {
  display: block;
  cursor: pointer;
  font-size: 16px;
  font-style: italic;
  color: #b9babb;
  text-decoration: none;
  /*background: 5px 5px url(img/str.png) no-repeat right;*/
 }


 /*---------Sec14------*/
 #fullpage #section13 {
  background: #141719 url(img/ban9.jpg) no-repeat center;
 }
 /*#fullpage #section10 .container {
  padding: 10px 40px;
 }*/
 #fullpage #section13 h2 {
  font-size: 64px;
  font-weight: 500;
  text-align: center;
  color: #fff;
 }
 #fullpage #section13 h4 {
  margin-top: 15px;
  font-size: 18px;
  line-height: 19px;
  font-weight: 500;
  text-align: center;
  color: #fff;
 }

 #fullpage #section13 ul.part13 {
  list-style: none;
 }
 #fullpage #section13 ul.part13 > li {
 	margin-bottom: 7%;
 }
 #fullpage #section13 ul.part13 > li:nth-child(4) {
	 text-align: center;
 }
 #fullpage #section13 ul.part13 li:last-child {
  margin-bottom: 0;
 }
 #fullpage #section13 ul.part13 > li .now {
	padding: 12px 20px;
	border: solid #fff 1px;
	border-radius: 100px;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
 }

 #fullpage #section13 ul > li ul.but {
  list-style: none;
  text-align: center;
  vertical-align: top;
 }
 #fullpage #section13 ul > li ul.but > li {
  /*display: inline-block;*/
  margin-bottom: 25px;
  text-align: center;
 }
 #fullpage #section13 ul > li ul.but > li:last-child {
  /*display: inline-block;*/
 margin-bottom: 0;
 }
 #fullpage #section13 ul > li ul.but > li p {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
 }
 /*#fullpage #section13 ul > li ul.but > li #but-vid {
  display: block;
  margin: 0 auto;
  background: url(img/List_icons.png) no-repeat center;
  text-align: center;
  width: 80px;
  height: 80px;
 }*/
 #fullpage #section13 ul > li ul.sec2-ul13 {
	padding-right: 50px;
	float: right;
	list-style: none;
 /*text-align: right;*/
 }
#fullpage #section13 ul > li ul.sec2-ul13 > li {
 display: inline-block;
 padding: 5px 23px 5px 0;
}
#fullpage #section13 ul > li ul.sec2-ul13 > li:last-child {
/*margin-right: 0;*/
background: url(img/str.png) no-repeat right;
cursor: pointer;
}
#fullpage #section13 ul > li ul.sec2-ul13 > li p {
 font-size: 16px;
 font-style: italic;
 font-weight: 600;
 color: #fff;
}
#fullpage #section13 ul > li ul.sec2-ul13 > li a {
 display: block;
 cursor: pointer;
 font-size: 16px;
 font-style: italic;
 color: #b9babb;
 text-decoration: none;
 /*background: 5px 5px url(img/str.png) no-repeat right;*/
}


/*---------Sec15------*/
#fullpage #section14 {
	padding: 0 180px;
 background: #141719;
 }
 #fullpage #section14 .row {
	 z-index: 20px;
  }
#fullpage #section14 .sec2-ul14 {
	/*padding-right: 50px;*/
	text-align: right;
	margin-top: -25px;
	position: relative;
	background: url(img/str.png) no-repeat right;
	cursor: pointer;
	z-index: 30px;
}
#fullpage #section14 h3 {
	padding-top: 400px;
	margin-bottom: 15px;
	font-size: 64px;
	color: #fff;
	text-align: center;
}
#fullpage #section14 p {
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 17px;
	color: #fff;
	text-align: center;
}
#fullpage #section14 .sec2-ul14 a {
 display: block;
 margin-right: 33px;
 cursor: pointer;
 font-size: 16px;
 font-style: italic;
 color: #fff;
 text-decoration: none;
 /*background: 5px 5px url(img/str.png) no-repeat right;*/
}
#fullpage #section14 .list1 {
	padding: 10px;
	height: 100vh;
	background: url(img/list1.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}
#fullpage #section14 .list1 a {
	display: block;
	margin: 0 auto;
	background: url(img/batton.png) no-repeat center;
	width: 76px;
	height: 77px;
	text-align: center;
	cursor: pointer;
}
#fullpage #section14 .list2 a {
	display: block;
	margin: 0 auto;
	background: url(img/batton_heart.png) no-repeat center;
	width: 76px;
	height: 77px;
	text-align: center;
	cursor: pointer;
}
#fullpage #section14 .list3 a {
	display: block;
	margin: 0 auto;
	background: url(img/batton_group.png) no-repeat center;
	width: 76px;
	height: 77px;
	text-align: center;
	cursor: pointer;
}
#fullpage #section14 .list2 {
	padding: 10px;
	height: 100vh;
	background: url(img/list2.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}
#fullpage #section14 .list3 {
	padding: 10px;
	height: 100vh;
	background: url(img/list3.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
}

/*#fullpage #section14 .container1 {
  margin: 20px auto;
  width: 90%;
}
.col, .col-9, .col-7, .col-3, .col-5 {
  display: inline-block;
  vertical-align: top;
	margin: 0;
}
#fullpage #section14 .col-9 {
  width: 33.5%;
	padding: 30px;
	background: url(img/list1.jpg) no-repeat center;
}
#fullpage #section14 .col-3 {
  width: 33.5%;
	padding: 30px;
	background: url(img/list2.jpg) no-repeat center;
}
#fullpage #section14 .col-7 {
  width: 33.5%;
	padding: 30px;
	background: url(img/list3.jpg) no-repeat center;
}*/
/*#fullpage #section14 .container1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	vertical-align: top;
	grid-gap: 0;

}
#fullpage #section14 .container1 .first {
	background: url(img/list1.jpg) no-repeat center;
}
#fullpage #section14 .container1 .second {
	background: url(img/list2.jpg) no-repeat center;
}
#fullpage #section14 .container1 .third {
	background: url(img/list3.jpg) no-repeat center;
}*/

/*#fullpage #section14 ul {
	list-style: none;
	margin: 0 50px;
}
#fullpage #section14 ul > li {
	display: inline-block;
	padding: 20px;
}
#fullpage #section14 ul > li .list1 {
	background: url(img/list1.jpg) no-repeat center;
}
#fullpage #section14 ul > li .list2 {
	background: url(img/list2.jpg) no-repeat center;
}*/


 /*#section0 img,
 #section1 img{
   margin: 20px 0 0 0;
 }
 #section2 img{
   margin: 20px 0 0 52px;
 }
 #section3 img{
   bottom: 0px;
   position: absolute;
   margin-left: -420px;
 }
 .intro p{
   width: 50%;
   margin: 0 auto;
   font-size: 1.5em;
 }
 .twitter-share-button{
   position: absolute;
   z-index: 99;
   right: 149px;
   top: 9px;
 }*/
