

<meta charset="utf-8" />
<title>Поблочная прокрутка на landing page</title>
<meta name="description" content="Небольшая статья о том, как сделать поблочную прокрутка на landing page">
<meta name="Keywords" content="Поблочная прокрутка">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Дмитрий Давыдов">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Таблица стилей Bootstrap -->
<link href="libs/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
<!-- Основная таблица стилей -->
<link href="css/style.css" type="text/css" rel="stylesheet">
<!-- CSS файл плагина fullpage -->
<link href="libs/fullpage/jquery.fullPage.css" type="text/css" rel="stylesheet">
