	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}

/**, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/
body {
	background: #fff;
	font-family: "Myriad Pro", sans-serif;
	font-size: 12px;
	background: #0185b5;
}



.container1 {
  margin: 0;
  width: 100%;
  /*max-width: 940px;*/
}
.col, .col-9, .col-7, .col-3, .col-5 {
  /*margin: 0 1%;*/
  display: inline-block;
  vertical-align: top;
}
.col-3 {
  width: 84.5%;
	background: #f1f5f8;
}
.col-9 {
  padding: 49px 0 10px;
	width: 15%;
	background: #0185b5;
	-moz-box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 0 0.5px rgba(0, 0, 0, 0.2);
}

.clear {
	content:".";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}
.clearfix:after {
    clear:both;
    content:' ';
    display:block;
    font-size:0;
    height:0;
    line-height:0;
    visibility:hidden;
    width:0
}


/*@media screen and (max-width: 1142px) {
	.col-3 {
	  width: 79%;
	}
}
@media screen and (max-width: 767px) {
	.col-3 {
	  width: 78%;
	}
}*/
@media screen and (max-width: 1120px) {
	.col-3 {
	  width: 82.5%;
	}
	.col-9 {
		width: 17%;
	}
}
@media screen and (max-width: 1000px) {
	.col-3 {
	  width: 79.5%;
	}
	.col-9 {
		width: 20%;
	}
}
@media screen and (max-width: 880px) {
	.col-3 {
	  width: 76.5%;
	}
	.col-9 {
		width: 23%;
	}
}
@media screen and (max-width: 750px) {
	.col-3 {
	  width: 73.5%;
	}
	.col-9 {
		width: 26%;
	}
}
@media screen and (max-width: 660px) {
	.col-3 {
	  width: 69.5%;
	}
	.col-9 {
		width: 30%;
	}
}
@media screen and (max-width: 560px) {
	.col-3 {
	  width: 66.5%;
	}
	.col-9 {
		width: 33%;
	}
}
@media screen and (max-width: 519px) {
	.col-3 {
	  width: 100%;
	}
	.col-9 {
		width: 100%;
	}
}


.container1 .col-9 .logo {
  margin: 0 0 44px 33px;
  background: url(img/logo.jpg) no-repeat;
	background-size: contain;
  background-position: left;
	padding: 30px 40px 30px 0;
	max-width: 50%;
}


/*--------Menu---------*/
.container1 .col-9 nav ul {
  margin-bottom: 20px;
  list-style: none;
}
.container1 .col-9 nav ul > li a {
  display: block;
  padding: 6px 0 6px 37px;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
.container1 .col-9 nav ul > li:first-child {
  margin-bottom: 11px;
}
.container1 .col-9 nav ul > li:nth-of-type(6) {
  margin-top: 11px;
}
.container1 .col-9 nav ul > li a:hover {
  background: #036b90;
}

/*---------Outline-big---------*/
.container1 .col-3 .top {
  border-bottom: solid 1px #d7dadd;
  background: #fff;
}
.container1 .col-3 .top ul {
  list-style: none;
  text-align: right;
  padding-right: 50px;
}
.container1 .col-3 .top ul > li {
  display: inline-block;
}
.container1 .col-3 .top ul > li:first-child {
  border-left: solid 1px #d7dadd;
  border-right: solid 1px #d7dadd;
	background: 90px 7px url(img/bell.png) no-repeat;
}
.container1 .col-3 .top ul > li:last-child {
	background: 70px 9px url(img/set.png) no-repeat;
}
.container1 .col-3 .top ul > li a {
  display: block;
  padding: 10px 37px 10px 21px;
  color: #999999;
  font-size: 13px;
  text-decoration: none;
}

.container1 .col-3 .big-outline {
	margin: 17px 59px 23px 26px;
  padding: 23px 17px 25px;
  border: solid 1px #d7dadd;
  background: #fff;
	/*text-align: center;*/
}


/*--------Big-outline-wrap--------*/
.container1 .col-3 .big-outline .wrap  {
	position: relative;
	top: 30px;
}
.container1 .col-3 .big-outline .wrap .prev_arrow {
  background: #fff;
	border: 2px solid #f2f2f2;
	border-radius: 3px;
  cursor: pointer;
  width: 55px;
  height: 35px;
  opacity: 0.65;
  top: 50%;
  transition: opacity 0.25s;
  transform: translateY(-50%);
}
.container1 .col-3 .big-outline .wrap .next_arrow {
  background: #d3d5d8;
	border: 2px solid #f2f2f2;
	border-radius: 3px;
  cursor: pointer;
  width: 55px;
  height: 35px;
  opacity: 0.65;
  top: 50%;
  transition: opacity 2.25s;
  transform: translateY(-50%);
}
.container1 .col-3 .big-outline .wrap .prev_arrow::before {
  content: open-quote;
  position: absolute;
  display: block;
  border-bottom: 2px solid #b3b3b3;
  border-left: 2px solid #b3b3b3;
  width: 15px;
  height: 15px;
  left: 50%;
  top: 50%;
}
.container1 .col-3 .big-outline .wrap .next_arrow::before {
  content: open-quote;
  position: absolute;
  display: block;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  width: 15px;
  height: 15px;
  left: 50%;
  top: 50%;
}
.container1 .col-3 .big-outline .wrap .prev_arrow::before {
  transform: translateY(-50%) translateX(-30%) rotate(45deg);
}
.container1 .col-3 .big-outline .wrap .next_arrow::before {
  transform: translateY(-50%) translateX(-60%) rotate(225deg);
}
.container1 .col-3 .big-outline .wrap .prev_arrow {
	float: left;
  margin-left: 10px;
}
.container1 .col-3 .big-outline .wrap .next_arrow {
  float: right;
	margin-top: -47px;
}

.container1 .col-3 .big-outline .circle {
	position: relative;
	text-align: center;
	left: -25px;
}
.container1 .col-3 .big-outline .circle > ul {
	text-align: center;
	list-style: none;
	margin: -23px 0 0 0;
}
.container1 .col-3 .big-outline .circle > ul > li {
	display: inline-block;
	margin-right: 5px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #cbcbcb;
}
.container1 .col-3 .big-outline .circle > ul > li:last-child {
	margin-right: 0;
}
.container1 .col-3 .big-outline .circle > ul > li:hover {
	background: #f78b4a;
}

@media screen and (max-width: 1120px) {
	.container1 .col-3 .big-outline .wrap .prev_arrow {
	  width: 35px;
	  height: 20px;
	}
	.container1 .col-3 .big-outline .wrap .next_arrow {
		width: 35px;
		height: 20px;
	}

	.container1 .col-3 .big-outline .wrap .prev_arrow::before {
	  width: 10px;
	  height: 10px;
	  left: 50%;
	  top: 50%;
	}
	.container1 .col-3 .big-outline .wrap .next_arrow::before {
	  width: 10px;
	  height: 10px;
	  left: 50%;
	  top: 50%;
	}
	.container1 .col-3 .big-outline .wrap .next_arrow {
	  float: right;
		margin-top: -36px;
	}

	.container1 .col-3 .big-outline .circle > ul > li {
		display: inline-block;
		margin-right: 5px;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background: #cbcbcb;
	}
	.container1 .col-3 .big-outline .circle > ul {
		text-align: center;
		list-style: none;
		margin: -18px 0 0 0;
	}
}


/*------Outline-middle---------*/
.container1 .col-3 .middle {
	position: relative;
  margin: 23px 59px 23px 26px;
	text-align: center;
}
.container1 .col-3 .middle ul.first {
  list-style: none;
}
.container1 .col-3 .middle ul.first > li {
  display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: left;
	vertical-align: top;
}
.container1 .col-3 .middle ul.first > li:first-child {

}

@media screen and (max-width: 519px) {
	.container1 .col-3 .big-outline {
		margin: 17px 8px 23px 8px;
	}
}
@media screen and (max-width: 410px) {
	.container1 .col-3 .middle {
	  margin: 23px 8px 23px 8px;
	}
	.container1 .col-3 .middle ul.first > li {
		margin-right: 0;
	}
	.container1 .col-3 .big-outline {
		margin: 17px 8px 23px 8px;
	}
}

.container1 .col-3 .middle ul.first > li:first-child {
	background: #fff;
	padding: 39px 23px 0 23px;
}
.container1 .col-3 .middle ul.first > li:last-child {
	background: #fff;
	width: 320px;
	padding: 20px 20px;
	margin-right: 0;
}
@media screen and (max-width: 630px) {
	.container1 .col-3 .middle ul.first > li:last-child {
		width: 270px;
	}
	.container1 .col-3 .middle ul.first > li:first-child {
		width: 232px;
	}
}
@media screen and (max-width: 560px) {
	.container1 .col-3 .middle ul.first > li:last-child {
		width: 250px;
	}
	/*.container1 .col-3 .middle ul.first > li:first-child {
		width: 242px;
	}*/
}
@media screen and (max-width: 360px) {
	.container1 .col-3 .middle ul.first > li:last-child {
		width: 200px;
	}
	.container1 .col-3 .middle ul.first > li:first-child {
		width: 210px;
	}
}

.container1 .col-3 .middle ul.first > li ul.second-l {
	list-style: none;
}
.container1 .col-3 .middle ul.first > li ul.second-l > li {
	margin-bottom: 27px;
	padding: 30px 20px;
	background: #fff;
	vertical-align: top;
}
.container1 .col-3 .middle ul.first > li ul.second-l > li:last-child {
	margin-bottom: 0;
}

.container1 .col-3 .middle ul.first > li ul.second-l > li ul.third {
	list-style: none;
}
.container1 .col-3 .middle ul.first > li ul.second-l > li ul.third > li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
	font-size: 17px;
	color: #54657e;
}
.container1 .col-3 .middle ul.first > li ul.second-l > li ul.third > li:last-child {
	margin-right: 0;
}
.container1 .col-3 .middle ul.first > li ul.second-l > li ul.third > li ul.fourth > li:first-child {
	font-size: 29px;
	color: #3d4d65;
}
.container1 .col-3 .middle ul.first > li ul.second-l > li ul.third > li ul.fourth > li:last-child {
	margin-bottom: 4px;
	font-size: 14px;
	color: #54657e;
	text-transform: uppercase;
}

.container1 .col-3 .middle ul.first > li ul.second-l > li ul.third-l {
	list-style: none;
}
.container1 .col-3 .middle ul.first > li ul.second-l > li ul.third-l > li {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 20px;
	/*font-size: 17px;
	color: #54657e;*/
}
.container1 .col-3 .middle ul.first > li ul.second-l > li ul.third-l > li:last-child {
	margin-right: 0;
}
.container1 .col-3 .middle ul.first > li ul.second-l > li ul.third-l > li ul.fourth-l > li:first-child {
	font-size: 29px;
	color: #3d4d65;
}
.container1 .col-3 .middle ul.first > li ul.second-l > li ul.third-l > li ul.fourth-l > li:last-child {
	margin-bottom: 4px;
	font-size: 14px;
	color: #54657e;
	text-transform: uppercase;
}


.container1 .col-3 .middle ul.first > li p {
	margin-bottom: 18px;
	font-size: 13px;
	color: #54657e;
	font-weight: 400;
}
.container1 .col-3 .middle ul.first > li p span {
	font-size: 13px;
	color: #20a526;
	font-weight: 400;
}

.container1 .col-3 .middle ul.first > li ul.second-s {
	position: relative;
	margin-top: 20px;
}
.container1 .col-3 .middle ul.first > li ul.second-s > li {
	padding: 7px 0 7px 5px;
	/*border-top: solid 1px #f7f7f8;*/
	color: #54657e;
}


.container1 .col-3 .middle ul.first > li ul.second-p {
	list-style: none;
	padding-left: 30px;
}
.container1 .col-3 .middle ul.first > li ul.second-p > li {
	display: inline-block;
	margin-right: 5.9%;
	color: #54657e;
	font-size: 120%;
	text-transform: uppercase;
}




/*--------Animation1---------*/
.chart {
  position: relative;
  display: inline-block;
  color: #98a3b2;
  font-size: 29px;
  text-align: center;
}

.chart figcaption {
  padding: 20px 10px;
  width: 50px;
  height: 30px;
  border: 5px solid #f0f0f0;
  border-radius: 100px;
  /*line-height: 50px;*/
}

.chart img {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  background: white;
}
/* END Container styles */

/* Colors for the circles and positions for the graphics */
.html {
  top: 50px;
  left: 45px;
}

.html + svg .outer {
  stroke: #ff9744;
}



.chart svg {
  position: absolute;
  top: 0;
  left: 0;
}

.outer {
  fill: transparent;
  stroke: #333;
  stroke-width: 9;
  stroke-dasharray: 534;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;

  /* firefox bug fix - won't rotate at 90deg angles */
  -moz-transform: rotate(-89deg) translateX(-190px);
}

.chart:hover .outer {
  stroke-dashoffset: 534 !important;
  -webkit-animation-play-state: paused;
}
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart[data-percent='100'] .outer {
  stroke-dashoffset: 0;
  -webkit-animation: show100 2s;
  animation: show100 2s;
}

.chart[data-percent='75'] .outer {
  stroke-dashoffset: 133;
  -webkit-animation: show75 2s;
  animation: show75 2s;
}

.chart[data-percent='50'] .outer {
  stroke-dashoffset: 267;
  -webkit-animation: show50 2s;
  animation: show50 2s;
}

.chart[data-percent='25'] .outer {
  stroke-dashoffset: 401;
  -webkit-animation: show25 2s;
  animation: show25 2s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes show100 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 134;
  }
}

@keyframes show75 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 124;
  }
}

@-webkit-keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 267;
  }
}

@keyframes show50 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 267;
  }
}

@-webkit-keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 401;
  }
}

@keyframes show25 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 401;
  }
}
/* END Keyframes for the initial animation */




/*---------Animation1---------*/

.html1 + svg .outer1 {
  stroke: #fdc740;
}
.html1 + svg .mot1 {
  stroke: #eceff4;
}

.chart3 svg {
  position: absolute;
  top: 0;
  left: 0;
}

.outer1 {
  fill: transparent;
  stroke: #333;
  stroke-width: 10;
  stroke-dasharray: 296 530;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;


  -moz-transform: rotate(-89deg) translateX(-190px);
}

.mot1 {
  fill: transparent;
  stroke: #333;
  stroke-width: 10;
  stroke-dasharray: 49 200;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;

  -moz-transform: rotate(-89deg) translateX(-190px);
}

/*.chart:hover .outer {
  stroke-dashoffset: 534 !important;
  -webkit-animation-play-state: paused;
}*/

.chart3:hover .mot1 {
  stroke-dashoffset: 266 !important;
  -webkit-animation-play-state: paused;
}
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart3[data-percent='100'] .outer1 {
  stroke-dashoffset: 0;
  -webkit-animation: showa100 1s;
  animation: showa100 1s;
}

.chart3[data-percent='75'] .outer1 {
  stroke-dashoffset: 133;
  -webkit-animation: showa75 1s;
  animation: showa75 1s;
}

.chart3[data-percent='50'] .outer1 {
  stroke-dashoffset: 267;
  -webkit-animation: showa50 2s;
  animation: showa50 2s;
}

.chart3[data-percent='25'] .outer1 {
  stroke-dashoffset: 401;
  -webkit-animation: showa25 1s;
  animation: showa25 1s;
}



.chart3[data-percent='100'] .mot1 {
  stroke-dashoffset: 0;
  -webkit-animation: showi100 2s;
  animation: showi100 2s;
}

.chart3[data-percent='75'] .mot1 {
  stroke-dashoffset: 133;
  -webkit-animation: showi75 1s;
  animation: showi75 1s;
}

.chart3[data-percent='50'] .mot1 {
  stroke-dashoffset: 267;
  -webkit-animation: showi50 1s;
  animation: showi50 1s;
}

.chart3[data-percent='25'] .mot1 {
  stroke-dashoffset: 401;
  -webkit-animation: showi25 1s;
  animation: showi25 1s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes showa100 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 0;
  }
}


@-webkit-keyframes showa75 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 134;
  }
}


@-webkit-keyframes showa50 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 267;
  }
}


@-webkit-keyframes showa25 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 401;
  }
}





@-webkit-keyframes showi100 {
  from {
    stroke-dashoffset: 266;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes showi75 {
  from {
    stroke-dashoffset: 266;
  }

  to {
    stroke-dashoffset: 134;
  }
}


@-webkit-keyframes showi50 {
  from {
    stroke-dashoffset: 266;
  }

  to {
    stroke-dashoffset: 267;
  }
}


@-webkit-keyframes showi25 {
  from {
    stroke-dashoffset: 266;
  }

  to {
    stroke-dashoffset: 401;
  }
}


/*---------Animation2---------*/

.html2 + svg .outer2 {
  stroke: #89ea1f;
}
.html2 + svg .mot2 {
  stroke: #eceff4;
}

.chart3 svg {
  position: absolute;
  top: 0;
  left: 0;
}

.outer2 {
  fill: transparent;
  stroke: #333;
  stroke-width: 10;
  stroke-dasharray: 415 730;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;


  -moz-transform: rotate(-89deg) translateX(-190px);
}

.mot2 {
  fill: transparent;
  stroke: #333;
  stroke-width: 10;
  stroke-dasharray: 60 295;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;

  -moz-transform: rotate(-89deg) translateX(-190px);
}

/*.chart:hover .outer {
  stroke-dashoffset: 534 !important;
  -webkit-animation-play-state: paused;
}*/

.chart3:hover .mot2 {
  stroke-dashoffset: 266 !important;
  -webkit-animation-play-state: paused;
}
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart3[data-percent='100'] .outer2 {
  stroke-dashoffset: 0;
  -webkit-animation: shows100 1s;
  animation: shows100 10s;
}

.chart3[data-percent='75'] .outer2 {
  stroke-dashoffset: 133;
  -webkit-animation: shows75 1s;
  animation: shows75 1s;
}

.chart3[data-percent='50'] .outer2 {
  stroke-dashoffset: 267;
  -webkit-animation: shows50 1s;
  animation: shows50 1s;
}

.chart3[data-percent='25'] .outer2 {
  stroke-dashoffset: 401;
  -webkit-animation: shows25 4s;
  animation: shows25 4s;
}



.chart3[data-percent='100'] .mot2 {
  stroke-dashoffset: 0;
  -webkit-animation: showd100 3s;
  animation: showd100 3s;
}

.chart3[data-percent='75'] .mot2 {
  stroke-dashoffset: 133;
  -webkit-animation: showd75 1s;
  animation: showd75 1s;
}

.chart3[data-percent='50'] .mot2 {
  stroke-dashoffset: 267;
  -webkit-animation: showd50 1s;
  animation: showd50 1s;
}

.chart3[data-percent='25'] .mot2 {
  stroke-dashoffset: 401;
  -webkit-animation: showd25 1s;
  animation: showd25 1s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes shows100 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 0;
  }
}


@-webkit-keyframes shows75 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 134;
  }
}


@-webkit-keyframes shows50 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 267;
  }
}


@-webkit-keyframes shows25 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 401;
  }
}





@-webkit-keyframes showd100 {
  from {
    stroke-dashoffset: 266;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes showd75 {
  from {
    stroke-dashoffset: 266;
  }

  to {
    stroke-dashoffset: 134;
  }
}


@-webkit-keyframes showd50 {
  from {
    stroke-dashoffset: 266;
  }

  to {
    stroke-dashoffset: 267;
  }
}


@-webkit-keyframes showd25 {
  from {
    stroke-dashoffset: 266;
  }

  to {
    stroke-dashoffset: 401;
  }
}



/*---------Animation2---------*/
.chart3 {
  position: relative;
  display: inline-block;
  /*color: #54657e;
  font-size: 40px;*/
  text-align: center;
}

.chart3 .one {
  padding: 50px 40px 50px 40px;
  width: 120px;
  height: 100px;
  border: 1px solid #fff;
  border-radius: 100px;
  /*line-height: 50px;*/
}

.html3 + svg .outer3 {
  stroke: #7ec8ff;
}
.html3 + svg .mot3 {
  stroke: #eceff4;
}

.chart3 svg {
  position: absolute;
  top: 0;
  left: 0;
}

.outer3 {
  fill: transparent;
  stroke: #333;
  stroke-width: 10;
  stroke-dasharray: 532 730;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;


  -moz-transform: rotate(-89deg) translateX(-190px);
}

.mot3 {
  fill: transparent;
  stroke: #333;
  stroke-width: 10;
  stroke-dasharray: 40 452;
  transition: stroke-dashoffset 1s;
  -webkit-animation-play-state: running;

  -moz-transform: rotate(-89deg) translateX(-190px);
}


/*.chart:hover .outer {
  stroke-dashoffset: 534 !important;
  -webkit-animation-play-state: paused;
}*/

.chart3:hover .mot3 {
  stroke-dashoffset: 266 !important;
  -webkit-animation-play-state: paused;
}
/* END Circle colors and graphic positions */


/* Set the initial values for the animation */
.chart3[data-percent='100'] .outer3 {
  stroke-dashoffset: 0;
  -webkit-animation: showg100 1s;
  animation: showg100 1s;
}

.chart3[data-percent='75'] .outer3 {
  stroke-dashoffset: 133;
  -webkit-animation: showg75 1s;
  animation: showg75 1s;
}

.chart3[data-percent='50'] .outer3 {
  stroke-dashoffset: 267;
  -webkit-animation: showg50 1s;
  animation: showg50 1s;
}

.chart3[data-percent='25'] .outer3 {
  stroke-dashoffset: 401;
  -webkit-animation: showg25 2s;
  animation: showg25 2s;
}



.chart3[data-percent='100'] .mot3 {
  stroke-dashoffset: 0;
  -webkit-animation: showh100 3s;
  animation: showh100 3s;
}

.chart3[data-percent='75'] .mot3 {
  stroke-dashoffset: 133;
  -webkit-animation: showh75 1s;
  animation: showh75 1s;
}

.chart3[data-percent='50'] .mot3 {
  stroke-dashoffset: 267;
  -webkit-animation: showh50 1s;
  animation: showh50 1s;
}

.chart3[data-percent='25'] .mot3 {
  stroke-dashoffset: 401;
  -webkit-animation: showh25 1s;
  animation: showh25 1s;
}
/* END set initial animation values */

/* Keyframes for the initial animation */
@-webkit-keyframes showg100 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 0;
  }
}


@-webkit-keyframes showg75 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 134;
  }
}


@-webkit-keyframes showg50 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 267;
  }
}


@-webkit-keyframes showg25 {
  from {
    stroke-dashoffset: 537;
  }

  to {
    stroke-dashoffset: 401;
  }
}





@-webkit-keyframes showh100 {
  from {
    stroke-dashoffset: 266;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes showh75 {
  from {
    stroke-dashoffset: 266;
  }

  to {
    stroke-dashoffset: 134;
  }
}


@-webkit-keyframes showh50 {
  from {
    stroke-dashoffset: 266;
  }

  to {
    stroke-dashoffset: 267;
  }
}


@-webkit-keyframes showh25 {
  from {
    stroke-dashoffset: 266;
  }

  to {
    stroke-dashoffset: 401;
  }
}
